<div class="container">
    <h2>Login</h2>
    <form  (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="영문이름" [(ngModel)]="model.engName" name="engName" required/>
            </mat-form-field>
          </div>
        <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="사번" [(ngModel)]="model.id" name="id" required/>
            </mat-form-field>
          </div>
        <div class="form-group">
            <button mat-raised-button style="margin-right: 10px;"  class="btn btn-primary">
                <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                Login
            </button>
            <button mat-raised-button type="button" style="margin-right: 10px;"  class="btn btn-default" (click)="register()"  >
                Register
              </button>
        </div>
    </form>
</div>
