<div class="container">
  <div [hidden]="submitted">
    <h1>사용자 등록</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="영문이름" [(ngModel)]="model.engName" name="username" required/>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="사번(A/BXXX)" [(ngModel)]="model.id" name="password" required/>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="한글이름(홍길동)" [(ngModel)]="model.korName" name="firstName" />
        </mat-form-field>
      </div>
    

      <button mat-raised-button style="margin-right: 10px;" type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">
        등록
      </button>
      <button mat-raised-button type="button" class="btn btn-default" (click)="resetField(); heroForm.reset()" >
        다시 시작
      </button>
      <!-- NOT SHOWN IN DOCS 
      <div>
        <hr />
        Name via form.controls = {{ showFormControls(heroForm) }}
      </div>
      -->
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>작성한 내용을 확인해 주세요:</h2>
    <div class="row">
      <div class="col-xs-3">영문이름</div>
      <div class="col-xs-9">{{ model.engName }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">ID</div>
      <div class="col-xs-9">{{ model.id }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">한글이름</div>
      <div class="col-xs-9">{{ model.korName }}</div>
    </div>
    <br />
    <button class="btn btn-primary" (click)="submitted = false">Edit</button>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
